

<div class="card" style="width: 100%;">
	<img class="card-img-top" src="<%= image %>">
	<div class="card-body">
	<h5 class="card-title">
	<%= title %>
	</h5>

	<p class="card-text">
	<%= body %>
	</p>
	
	
	</a>
	</div>
