
<div class="jumbotron text-center bg-info text-dark">
 </p>

	<h1 class="BDBMS"><%= header %></h1>
	<div class="text-center">	
	<%= image_tag("logo.png", :alt => "logo feed", :style => style="width:10%") %>
	</div>
	<p style = "font-family:georgia,garamond,serif;font-size:20px;font-style:italic;">
        
	 <%= tag_line %>
     
	
</div>

