
<%= render "shared/jumbotron", header: "Barangay Huyon-Huyon Database Management System", tag_line: "Huyon-huyon, Tigaon, Camarines Sur" %>


<div class="row text-center">
	<div class="col-lg-4">
		
	<%= render "shared/cardme", image: "me1.jpg", title: "Dancing", body: "Mat Ivan Arquero stared dancing when he was in 3rd grade. To this day, Mat values dancing as his passion and a form of art." %>

</div>

	</div>

	<div class="col-lg-4">
	<%= render "shared/cardme", image: "me2.jpg", title: "Badminton", body: "Being a part of a badminton team was part of Mat's childhood growing up. Mat loves the competitiveness and the craft of the sport itself." %>
	</div>
	</div>

	<div class="col-lg-4">
	<%= render "shared/cardme", image: "me3.jpg", title: "Student leader", body: "Achieving the highest leadership status and being the ASB School Secretary for Rancho Medanos Jr High in Pittsburg California was one of the highest achievements of Mat. He loves to lead people and make a positive impact to organizations." %>
	</div>
	</div>


	
	</div>

	<div class="col-lg-4">
	
</div>
	</div>
</div>














